/*Anidación*/
$myFont: Helvetica, sans-serfi;
$myColorTitulo: #c93838;
$mycolorUCSM: #009944;
$myFontTitulo: 60px;
$myFontTextoImportantes: 40px;
$myColorBackground: #272727;
$mycolorTexto: #fff;
$myImgLogo: 300px;
$url: 'https://www.ucsm.edu.pe/';
* {
    margin: 5px 15px;
    padding: 0;
    border: 0;
    font-family: $myFont;
}

body {
    background-color: $myColorBackground;

}

p {
    font-size: 25px;
    color: $mycolorTexto;
}

header {
    color: #242424;

    h1 {
        text-align: center;
        color: $myColorTitulo;
        font-size: $myFontTitulo;
    }
}

.links {
    color: $myColorTitulo;
    font-size: $myFontTextoImportantes;
}
.titulo-UCSM{
    color: $mycolorUCSM;
    font-size: $myFontTitulo;
    text-align: center;
}
ul li {
    list-style-type: none;
    margin-bottom: 10px;
    a {
        color: #c93838;
        text-decoration: none;
        font-size: 25px;

        &:hover {
            color: #78f05a;
        }
    }
}
.img{
    display: block;
    margin: 0px auto;
    width: $myImgLogo+300px;
    height: $myImgLogo+300px;
}
.imgUCSM{
    display: block;
    margin: 0px auto;
    /*El uso de operadores para definir la resolución de la imagen con una interpolación al final para que se defina en pixeles*/
    width: 300*2 #{px};
    height: 300*2 #{px};
    /*Interpolación es decir usamos funciones que permiten que dejen cadenas de texto sin comprometer su formato*/
    background-image: url('#{url}');
}